.catalog {
    background-color:#FFFFFF;
    &__container {
    }

    &__head-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:$mobile){
             flex-direction: column; 
             justify-content: center;
             align-items: center;
        }
    }

    &__control {
        min-width: rem(320);
        align-self: flex-end;
        margin-bottom: rem(30);
    }
}

.body-catalog {
    display: grid;
    grid-template-columns: rem(375) 1fr;
    gap: rem(30);
    @include adaptiveValue("padding-bottom", 120, 30);
    @media (max-width: em(1207)){
        display: grid;
        grid-template-columns: auto;
    }
}

.content-catalog {
        display: flex;
        flex-direction: column;
        gap: rem(60);
    &__catalog {
        display: grid;
        gap: rem(20);
        grid-template-columns: repeat(3,minmax(rem(290), rem(375)));
        @media (max-width: em(1360)){
            grid-template-columns: repeat(auto-fill,minmax(rem(290), rem(375)));
        }
        @media (max-width: em(1207)){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: em(1000)){
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:$mobile){
            grid-template-columns: 1fr; 
        }
    }
}

.catalog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:$mobile){
        flex-direction: column;
        gap: rem(20);
        align-items: center;
        justify-content: center; 
    }
    &__more {
        border: 2px solid $mainOrangeColor;
        filter: drop-shadow(0px 4px 20px rgba(232, 170, 49, 0.43));
        border-radius: 3px;
        padding: rem(12) rem(70);
        font-weight: 600;
        font-size: rem(20);
        color: $mainOrangeColor;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: white;
                background-color: $mainOrangeColor;
            }
        }
        @media (max-width:$mobile){
            padding: rem(12) rem(45);
        }
    }
    &__more:focus {
        border: 2px solid #ffff;
    }
}


//========================================================================================================================================================

//=======================================   FILTER  
.filter-body {
    background: #FEFEFE;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    &__title {
        padding: rem(23) rem(30);
        background-color: #141414;
        font-weight: 700;
        font-size: rem(20);
        line-height: math.div( 24, 20);
        color: #FFFFFF;
    }
}

.price-filter {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    gap: rem(30);
    padding: rem(30) rem(30) rem(20) rem(30);
    &__title {
        width: 100%;
        text-align: left;
    }

    &__body {
        display: flex;
        flex-direction: column;
        @media (max-width:$mobile){
            width: 100%; 
        }
    }

    &__inputs {
        display: flex;
        border-radius: 2px;
        margin-bottom: rem(30);
        @media (max-width:$mobile){
             flex-direction: column;
             justify-content: center;
             align-items: center; 
        }
    }

    &__input {
        width: rem(156);
        padding: rem(11) rem(36);
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div( 20, 16);
        color: #141414;
        border: 1px solid #CBCBCB;
    }
}

.indastry-filter {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    padding-top: rem(20);

    &__body {
        padding: rem(30);
        @media (max-width:$mobile){
            width: 100%; 
        }
    }
}

.metall-filter {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:flex-start;
    padding-top: rem(20);
    &__body {
        padding: rem(30);
        @media (max-width:$mobile){
            width: 100%; 
        }
    }
}

.checkbox {
    &__text {
        margin-bottom: rem(20);
        small {
            font-size: 16px;
            line-height: 20px;
            color: #E8AA31;
            margin-left: rem(10);
        }    
    }   
    &__text--footer {
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div( 22, 16);
        color: rgba(255, 255, 255, 0.8);
    }   
}


//========================================================================================================================================================

