//================================================     MAIN - BLOCK    ==================================================
.page {
    &__main-block {

    }
    &__inner {
        padding-top: rem(30);
    }
}

.main-block {
    background: url(img/main-block/bg.jpg) center / cover no-repeat;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    @media (max-width:$mobile){
        background: url(img/main-block/bg-mobile.jpg ) center / cover no-repeat;
    }
    &__container {
        padding-top: rem(48);
        padding-bottom: rem(64);
        display: flex;
        flex-direction: column;
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr percent(635, 1590);
        @media (max-width:$mobile){
            grid-template-columns: 1fr;
        }
    }
    &__slider {
        padding-left: rem(15);
    }
}

// погинация - фракция ( счетчик слайдов и панель )============
.swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: rem(20);
    height: rem(20);
    margin-top: rem(45);
    @media (max-width: em(424.98)){
          display: none;
    }
}
.swiper-pagination-bullet {
    display: flex;
    flex-direction: row;
    width: rem(18);
    height: 0px;
    border: 2px solid #FFFFFF;
    border-radius: rem(2);
    cursor: pointer;
    &::before{
        content:'';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 10px;
        height: 10px;
        top: -50%;
        transform: translateY(-50%);
        left: -8px;
        background: #E8AA31;
        border-radius: 50%;
        box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.66);
        opacity: 0;
        transition: left 3s;
    }
}
.swiper-pagination-bullet-active {
    border: 2px solid $mainOrangeColor;
    position: relative;
    width: rem(25);
    transition: all 0.5s ease 0s;
    &::before{
        content:'';
        opacity: 1;
        left: rem(18);
    }
   
} 

// 01/04 > ======
.swipper-controls{
    display: flex;
    gap: rem(40);
    align-items: flex-end;
    @media (max-width: em(424.98)){
        display: none;
  }
}
.fraction-controls {
    display: flex;
    font-weight: 600; 
    color: #FFFFFF;
    align-items: flex-end;
    &__current {
        font-size: rem(24);
        letter-spacing: 0.1em;
        color: $mainOrangeColor;
    }
    &__all {
        font-size: rem(18);
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
}

// Двигающаяся часть слайдера =================================
.swiper-slide {
    &__content {
        max-width: rem(915);
    }

    &__title {
        font-weight: 700;
        font-size: rem(36);
        line-height: math.div( 46, 36);
        text-align: left;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    &__sub-litle {
        margin-top: rem(30);
        font-weight: 500;
        font-size: rem(20);
        line-height: math.div( 30, 20);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: rem(60);
    }

    &__button {
        transition: .3s all;
        @media (any-hover: hover){
            &:hover{
                background-color: rgba($color: $mainOrangeColor, $alpha: 0.1);
                box-shadow: none;
            }
        }
        @media (max-width: em(424.98)){
            display: none;
      }
    }
}

// картирка и желтые плюсы ====================================
.media-main-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(10);
    &__image {
        position: relative;
        img {
            max-width: 100%;
            position: relative;
            z-index: 2;
        }
        &::before{
            content:'';
            position: absolute;
            width: rem(423);
            height: rem(423);
            display: flex;
            border: 2px solid rgba(255, 255, 255, 0.5);
            transform: translate(percent(141, 423));
            bottom: 1%;
            border-radius: 50%;
            z-index: 1;
            @media (max-width: em(424.98)){
                display: none;
          }
        }
    }
    &__tips {
        z-index: 5;
        @media (max-width:$tablet){
            display: none;
        }
    }
    &__tip {
        width: rem(20);
        height: rem(20);
        position: absolute;
        transition: all 0.3s ease 0s;
            @media (any-hover: hover){
                &:hover{
                    transform: rotate(-180deg) scale(1.1);
                }
            }
        cursor: pointer;
            &::before, 
            &::after { 
            content:'';
            background-color: $mainOrangeColor;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            
        }
            &::after { 
            content: '';
            transform: scale(1.6);
            opacity: 0.5;
        }
        span {
            z-index: 2;
            color:#ffff;
            font-size: rem(20);
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &_1 {
            top: percent(120, 639);
            right: percent(40, 519);
        }
        &_2 {
            top: percent(260, 639);
            left: percent(100, 519);
        }
        &_3 {
            bottom: percent(112, 639);
            right: percent(66, 519);
        }
    }
}

// advantages ================================================
.advantages-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(42);
    gap: rem(20);
    @media (max-width:$mobile){
         flex-wrap: wrap; 
         justify-content: center;
         align-items: center;
         gap: rem(30);
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text {
        margin-top: rem(20);
        font-weight: 600;
        @include adaptiveValue("font-size", 20, 14);
        line-height: math.div(32 , 20);
        text-align: center;
        color: #FFFFFF;
        max-width: rem(290);
    }
}

//=====================================================  MAIN - BLOCK END  ==========================================================================


//=====================================================  Catalog-Cards  ===================================================================================
.catalog-cards {
    background: #FFFFFF;
    &__container {
        @include adaptiveValue("padding-top", 130, 40);
        @include adaptiveValue("padding-bottom", 120, 40);
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue("gap", 30, 14);
        @media (max-width: em(1621)){
            justify-content: center;   
        }
    }
}

//=====================================================  Catalog-Cards End   =============================================================================


//=====================================================  Product-Slider   =============================================================================

.product-slider {   
    background: #FFFFFF;
    &__container {
        @include adaptiveValue("padding-top", 80, 30);
        @include adaptiveValue("padding-bottom", 164, 30);
       
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptiveValue("padding-bottom", 60, 30);
        @media (max-width: em(550)){
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
    }
}

.product-slide {
    &__body {
        display: flex;
        gap: rem(10);
        justify-content: center;
        align-items: center;
    }
}
//=====================================================  Product-Slider END   =============================================================================


//=====================================================  NEW Product-Slider   ==========================================================================

.new-product-slider {
    background: url(img/new-products-bg.jpg) center / cover no-repeat;
    padding: rem(40) 0px;
    &__container {
        display: grid;
        grid-template-columns: 1fr percent(1180, 1590);
        column-gap: rem(33);
        @media (max-width: em(1100)){
              grid-template-columns: 1fr;
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: rem(336);
        @media (max-width: em(1100)){
            max-width: 100%;
            padding-bottom: rem(20);
        }
    }
   
    &__title {
        font-weight: 700;
        font-size: rem(30);
        line-height: math.div(46 , 30);
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-bottom: rem(30);
    }

    &__text {
        font-weight: 500;
        font-size: rem(18);
        line-height: math.div( 27, 18);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
        @include adaptiveValue("margin-bottom", 60, 20);
    }

    &__more {
        font-size: rem(20);
        line-height: math.div( 46, 20);
        letter-spacing: 0.05em;
        color: #E8AA31;
        position: relative;
        padding-right: rem(30);
        transition: all 0.3s ease 0s;
        &::before{
            transform: rotate(90deg) translateY(-50%);
            font-size: rem(8);
            color: $mainOrangeColor;
            position: absolute;
            right: 0;
            top: 46%;
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
                &::before{
                    font-size: rem(14);
                    top: 40%;
                }
            }
        }
    }
    &__controls {
        display: flex;
        justify-content: center;
    }
}
//===================================================    NEW Product-Slidr   END  ========================================================================================


//====================================================      Articles      ==========================================================================

.articles {
    @include adaptiveValue("padding-top", 120, 30);
    @include adaptiveValue("padding-bottom", 120, 30);
    background: #FFFFFF;
    &__title {
        font-weight: 700;
        font-size: rem(30);
        line-height: math.div( 46, 30);
        letter-spacing: 0.05em;
        color: #141414;
        margin-bottom: rem(16);
    }
    &__body {
        display: grid;
        gap: rem(20);
        grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
    }
}
.item-article {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);    
    min-height: 100%;
    overflow: hidden;
    &__image-ibg {
        overflow: hidden;
        padding-bottom: percent(200, 376);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &__descr {
        flex: 1 1 auto;
        padding: rem(20);
    }
    &__title {
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div( 34, 20);
        color: #141414;
        margin-bottom: rem(8);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $mainOrangeColor;
            }
        }
    }

    &__date {
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div( 34, 16);
        color: #ABABAB;
    }
}
//=====================================================     Articles END   ==================================================================================================


//=====================================================     Flashlight    ==================================================================================================
.flashlight {
    @include adaptiveValue("padding-bottom", 120, 60);
    background: #FFFFFF;
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(47);
        @media (max-width:$mobile){
            grid-template-columns: 1fr;
            gap: rem(20);
        }
        
    }
}

.flashlight-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    min-height: rem(293);
    &__body {
        display: flex;
        position: relative;
        @media (max-width:$mobile){
             justify-content: center;
             align-items: center; 
        }
    }

    &__descr {
        flex: 0 1 50%;
        padding: rem(20);
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        gap: rem(48);
        z-index: 3;
    }

    &__title {
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div( 34, 24);
        color: #000000;
        position: relative;
        &::after {
            content:'';
            position: absolute;
            width: rem(68);
            height: 0px;
            bottom: -15px;
            display: block;
            border: 1px solid $mainOrangeColor;
        }
    }

    &__text {
        font-weight: 500;
        font-size: rem(18);
        line-height: math.div( 27, 18);
        color: #000000;
    }

    &__image {
        position: absolute;
        right: 0;
        @media (max-width: em(1200)){
              opacity: 0.3;
        }
    }
    &__button {
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                text-indent: -20px;
            }
        }
    }
}
.flashlight-catacol {
    background: #FFFFFF;
    @include adaptiveValue("padding-bottom", 120, 30);
    &__container {
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: rem(62);
    }
    &__body {
        display: grid;
        gap: rem(20);
        grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
        justify-items: center;
    }
}

//=====================================================    Flashlight   END   ===========================================================================


//=====================================================     Footer descr TOP   ==============================================================================

.footer-descr {
    background: url(img/bg-footer-top.jpg) center / cover no-repeat;
    &__container {
        padding-top: rem(60);
        padding-bottom: rem(60);
        display: flex;
        flex-direction: column;
        gap: rem(30);
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-weight: 700;
        font-size: rem(30);
        line-height: math.div( 46, 30);
        letter-spacing: 0.05em;
        color: $mainOrangeColor;
        text-align: center;
    }

    &__text {
        font-weight: 500;
        font-size: rem(18);
        line-height: math.div( 27, 18);
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}

//========================================================================================================================================================


