//====================================     MAIN - BLOCK    ==================================================
.page {
    &__main-block {

    }
}

.main-block {
    background: url(img/main-block/bg.jpg) center / cover no-repeat;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    @media (max-width:$mobile){
        background: url(img/main-block/bg-mobile.jpg ) center / cover no-repeat;
    }
    &__container {
        padding-top: rem(48);
        padding-bottom: rem(64);
        display: flex;
        flex-direction: column;
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr percent(635, 1590);
        @media (max-width:$mobile){
            grid-template-columns: 1fr;
        }
    }
    &__slider {
        padding-left: rem(15);
    }
}
// погинация - фракция ( счетчик слайдов и панель )============
.swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: rem(20);
    height: rem(20);
    margin-top: rem(45);
    @media (max-width: em(424.98)){
          display: none;
    }
}
.swiper-pagination-bullet {
    display: flex;
    flex-direction: row;
    width: rem(18);
    height: 0px;
    border: 2px solid #FFFFFF;
    border-radius: rem(2);
    cursor: pointer;
    &::before{
        content:'';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 10px;
        height: 10px;
        top: -50%;
        transform: translateY(-50%);
        left: -8px;
        background: #E8AA31;
        border-radius: 50%;
        box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.66);
        opacity: 0;
        transition: left 3s;
    }
}
.swiper-pagination-bullet-active {
    border: 2px solid $mainOrangeColor;
    position: relative;
    width: rem(25);
    transition: all 0.5s ease 0s;
    &::before{
        content:'';
        opacity: 1;
        left: rem(18);
    }
   
} 
// 01/04 > ======
.swipper-controls{
    display: flex;
    gap: rem(40);
    align-items: flex-end;
    @media (max-width: em(424.98)){
        display: none;
  }
}
.fraction-controls {
    display: flex;
    font-weight: 600; 
    color: #FFFFFF;
    align-items: flex-end;
    &__current {
        font-size: rem(24);
        letter-spacing: 0.1em;
        color: $mainOrangeColor;
    }
    &__all {
        font-size: rem(18);
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
}

// Двигающаяся часть слайдера =================================
.swiper-slide {
    &__content {
        max-width: rem(915);
    }

    &__title {
        font-weight: 700;
        font-size: rem(36);
        line-height: math.div( 46, 36);
        text-align: left;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    &__sub-litle {
        margin-top: rem(30);
        font-weight: 500;
        font-size: rem(20);
        line-height: math.div( 30, 20);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: rem(60);
    }

    &__button {
        transition: .3s all;
        @media (any-hover: hover){
            &:hover{
                background-color: rgba($color: $mainOrangeColor, $alpha: 0.1);
                box-shadow: none;
            }
        }
        @media (max-width: em(424.98)){
            display: none;
      }
    }
}

// картирка и желтые плюсы ====================================
.media-main-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(10);
    &__image {
        position: relative;
        img {
            max-width: 100%;
            position: relative;
            z-index: 2;
        }
        &::before{
            content:'';
            position: absolute;
            width: rem(423);
            height: rem(423);
            display: flex;
            border: 2px solid rgba(255, 255, 255, 0.5);
            transform: translate(percent(141, 423));
            bottom: 1%;
            border-radius: 50%;
            z-index: 1;
            @media (max-width: em(424.98)){
                display: none;
          }
        }
    }
    &__tips {
        z-index: 5;
        @media (max-width: em(424.98)){
            display: none;
      }
    }
    &__tip {
        width: rem(20);
        height: rem(20);
        position: absolute;
        transition: all 0.3s ease 0s;
            @media (any-hover: hover){
                &:hover{
                    transform: rotate(-180deg) scale(1.1);
                }
            }
        cursor: pointer;
            &::before, 
            &::after { 
            content:'';
            background-color: $mainOrangeColor;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            
        }
            &::after { 
            content: '';
            transform: scale(1.6);
            opacity: 0.5;
        }
        span {
            z-index: 2;
            color:#ffff;
            font-size: rem(20);
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &_1 {
            top: percent(120, 639);
            right: percent(40, 519);
        }
        &_2 {
            top: percent(260, 639);
            left: percent(100, 519);
        }
        &_3 {
            bottom: percent(112, 639);
            right: percent(66, 519);
        }
    }
}

// advantages ================================================
.advantages-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(42);
    gap: rem(20);
    @media (max-width:$mobile){
         flex-wrap: wrap; 
         justify-content: center;
         align-items: center;
         gap: rem(30);
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text {
        margin-top: rem(20);
        font-weight: 600;
        @include adaptiveValue("font-size", 20, 14);
        line-height: math.div(32 , 20);
        text-align: center;
        color: #FFFFFF;
        max-width: rem(290);
    }
}

//==================================================  MAIN - BLOCK END  ==========================================================================

//========================================================================================================================================================

.catalog-cards {
    padding: rem(130) rem(0) rem(120) rem(0);
    &__container {
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue("gap", 30, 14);
        @media (max-width: em(1621)){
            justify-content: center;   
        }
    }
}
